Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Allow access to all files
<FilesMatch ".*">
    Require all granted
</FilesMatch>

# Disable directory browsing
Options -Indexes

# Set default handler to index.php
DirectoryIndex index.php